*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

.text_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 100%;
    height: 100vh;
    margin-bottom: 2%;

}

.content {
    width: 100%;
    height: 62.5%;
}

.header {
    height: 18.75%;
    width: 100%;
    background-color: green;
}

.content__image {
    height: 100%;
    width: 30%;
    float: left;
    background-color: rebeccapurple;
}

.content__text {
    height: 100%;
    width: 70%;
    float: right;
    background-color: aqua;
}

.footer {
    height: 18.75%;
    background-color: yellow;
}


.content_flex {
    width: 100%;
    height: 62.5%;
    display: flex;
}

.header_flex {
    height: 18.75%;
    width: 100%;
    background-color: green;
}

.content__image_flex {
    height: 100%;
    flex: 30%;
    background-color: rebeccapurple;
}

.content__text_flex {
    height: 100%;
    flex: 70%;
    background-color: aqua;
}

.footer_flex {
    height: 18.75%;
    background-color: yellow;
}